.main-box {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__connect {
    font-size: 1.6rem;
    &--top {
      font-size: 1.6rem;
      background: #e3edf0;
      padding: .5rem .5rem 3rem .5rem;
    }
  }

  &__unput{
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 1rem;
    width: 16rem;
  }

  &__button {
    cursor: pointer;
    font-size: 18px;
    color: inherit;
    border-radius: 5px;
  }

  &___name {
    display: flex;
    justify-content: center;
  }

  &__dialog {
    display: block;
  }

  &__people {
    display: flex;

    &--left {
      width: max-content;
      margin-right: 1rem;
      font-size: 1.6rem;
    }
  }

  &__textarea {
    font-size: 1rem;
    margin: 0px;
    height: 165px;
    width: 567px;
  }

  &__context {
    background: #e3edf0;
  }

  &__chat {
    background: #ffffff;
  }

  &__messages {
    margin-bottom: 3px;
  }
}
