
<div class="main-box" [ngClass]="{'main-box__dialog': name}">
  <div *ngIf="!name" class="main-box__name">
    <input class="main-box__name main-box__unput" type="text" #nameBox placeholder="Enter your name..."/>
    <button class="main-box__name main-box__button" (click)="getName(nameBox.value)">Apply</button>
  </div>

  <div *ngIf="name" class="main-box__connect main-box__connect--top">
    <div class="main-box__connect">My identificator: {{peer.id}}</div>
    <div class="main-box__connect">
      <input class="main-box__connect main-box__unput" type="text" placeholder="Enter your friend's identificator..." [(ngModel)]="friendId"/>
      <button class="main-box__connect main-box__button" (click)="connect()">Connect to chat</button>
    </div>
  </div>

  <div *ngIf="name" class="main-box__context">
    <div class="main-box__people">
      <div class="main-box__people--left">
        <div class="main-box__people--left" [hidden]="!name">Chatting people:</div>
        <div *ngFor="let user of usersArray" class="main-box__people--left">
          {{user}}
        </div>
      </div>

      <div class="main-box__messages">
        <textarea placeholder="Write a message" class="main-box__textarea" #textbox></textarea>
        <button class="main-box__button main-box__messages " (click)="sendMessage(textbox.value)">Send message</button>
      </div>
    </div>

    <div class="main-box__chat">
      <div *ngFor="let message of chat" class="main-box__chat">
        {{message.user}}({{message.timestamp}}) - {{message.message}}
      </div>
    </div>
  </div>
</div>
